@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');


body{
    font-family: "Commissioner", sans-serif;
    margin: 0;
}

header{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
}

.logo{
    width: 60px;
    height: 60px;
}

nav{
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
}

form button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}